<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>About Me</title>
</head>
<body>

    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="portfolio_index.html">Home.</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="about_me.html">About.</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="https://www.linkedin.com/in/kenneth-kinder-826198b6/">Linkedin.</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>KENNETH KINDER.</div>
                </div>
            </div>
        </div>
    </div>

    <div><img src="https://media-exp1.licdn.com/dms/image/C4E03AQGYoRlMvM4dNw/profile-displayphoto-shrink_800_800/0/1517636982716?e=1673481600&v=beta&t=D4B9ENZc1-pw-NPxfU9_ei3w7XMbkOfScqcEupkkHPk" alt=""></div>
    <h2>About me coming soon...</h2>
</body>
</html>